<!doctype html>

      <html lang="en">

      <head>

        <title>Feather</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/login.css" type="text/css">
        <link type="text/css" rel="stylesheet" href="/static/styles/login.css" >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>

      </head>
<body>
  <div class="jumbo">
    <div id="overlay"></div>
      <div class="container" style= "background-color:white; padding:50px 30px 50px 80px;">
                
        {% extends 'base.html' %}

        {% block content %}
          <h2>Sign up</h2>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button type="submit">Sign up</button>
          </form>
        {% endblock %}
      </div>
  </div>





 </body>
</html>