body {
        background: url('/static/styles/img/login.jpeg') no-repeat center center fixed ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h2 {
      font-weight: 300;
    }

    p {
      font-size: 16px;
    }

    a {
    color: #c0392b;
    }

    a:hover {
        color: #c0392b;
        text-decoration: underline;
    }

    .box-shadow--3dp {
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
    }

    #card-content {
        float: left;
    }

    #card-content td {
        padding: 0px 20px 0px 20px;
    }

    .col-centered{
        float: none;
        margin: 0 auto;
    }


    #error-message-content {
        margin-top: 100px;
    }

    #error-message-panel {
        width: 60%;
        padding: 20px 10px 20px 10px;
    }

    .half {
        position:relative;
    }

    .half:after {
        content:'';
        position:absolute;
        z-index:1;
        background:white;
        width: 50%;
        height: 100%;
        left: 47%;
    }

    #homepage-panel {
        margin-top: 150px;
        padding: 20px 10px 40px 100px;
        background-color: transparent;
        border: none;
    }

    .jumbo {
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 100px;
    }

    #jumbo-content {
        float: left;
    }

    #jumbo-content td {
        padding: 20px;
    }

    #logo {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        background-color: #FFFFFF;
        padding: 8px;
        height: 100px;
    }

    #merch-logo {
        height: 110px;
    }

/*    .navbar {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        background-color: #c0392b;
        height: 70px;
        border: none;
    }

    .navbar-brand {
        color:white !important;
        font-weight: 600 !important;
        margin-top: 10px;
        font-size: 20px;
    }*/

    #overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefdfb;
    opacity: 0.3;
    }

    div.well{
      height: 250px;
    } 

    .Absolute-Center {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-color: #fefdfb
    }

    .Absolute-Center.is-Responsive {
      width: 18%; 
      height: 49%;
      min-width: 100px;
      max-width: 300px;
      /*padding-top: 20px;*/
    }

    #logo-container{
      margin: auto;
      /*margin-bottom: 10px;*/
      width:200px;
      height:60px;
      background-image:url('/static/styles/img/featherLogo.png');
    }

/*    #text-container{
        background-color: #FFFFFF;
        padding-bottom: 200px;
    }*/

/*    #page{ margin: 20px; 
    }
*/
    /* CSS used here will be applied after bootstrap.css */

    .panel-default {
    opacity: 0.9;
    margin-top:30px;
    }

    .form-group.last {
    margin-bottom:0px;
    }